#base_panel {
    margin: 0 0 0px 40px;
    font-size: 22px;
    display: block;
}

#base_panel ul li a {
	color: #975624;
}

#base_form_panel {
	background-position: 72px center;
	min-height: 240px;
	height: auto !important;
	height: 240px;
	padding: 20px 75px 20px 75px;
	width: 537px;
}

#base_form_panel .base_form_row {
	margin-left: 34px;
	margin-bottom: 17px;
	text-align: left;
}

#base_form_panel .base_form_row input[type=text] {
	display: inline-block;
	clear: both;
	border: solid 1px #F4C986;
	height: 23px;
	width: 100%;
}

##base_form_panel .base_form_row .label {
	float: left;
}