#main_panel .login_field {
	height: 25px;
	margin-left: 34px;
	margin-bottom: 17px;
	text-align: right;
}

#main_panel .login_field .label {
	float: left;
}

#main_panel .login_field input[type=text], #main_panel .login_field input[type=password] {
	display: inline-block;
	border: solid 1px #F4C986;
	height: 23px;
	width: 370px;
}

#main_panel .login_button, #main_panel .register_link {
	display: inline-block;
	margin-left: 50px;
}